class Solution:
    def romanToInt(self, s: str) -> int:
        romanNum = OrderedDict()
    
        romanNum = {'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, 'M':1000}
        answer = 0

        for i in range(len(s) - 1):
            if romanNum.get(s[i]) < romanNum.get(s[i+1]):
                answer -= romanNum.get(s[i])
            else:
                answer += romanNum.get(s[i])

        answer += romanNum.get(s[-1])

        return answer
